html {
	font-size: 10px;
}

p {
	margin-bottom: 20px;
}

#create h1 {
	font-size: 4rem;
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	color: #fff;
}

#notes {
	display:block;
}

#create {
	text-align: center;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
	height: 500px;
	vertical-align: middle;
	z-index: 1;
	 clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
	 -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  );
}

input[type='text'] {
	font-size: 2rem;
	margin-top: 20px;
}

input[type='submit'], input[type='reset'] {
	font-size: 2rem;
	padding: 15px 20px;
}

input[type='file'] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	display: block;
	font-family: 'Lato', sans-serif;
	background-color: #333;
	width: 100%;
	z-index: 2;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav img {
	height: 5vh;
}

nav li {
	font-size: 1.8rem;
	display: inline-block;
	padding: 10px 15px;
	vertical-align: middle;
}

nav li:first-child {
	margin-left: 20px;
}

nav li a {
	transition: color .2s ease-in-out;
}

nav li a:link, nav li a:visited {
	 color: #CCC;
	 text-transform: uppercase;
	 text-decoration: none;
}

nav li a:hover, nav li a:active {
	text-decoration: none;
	color: #FFF;
}
